{% extends 'global/base.html' %}
{% load url %}

{% block jscss %}
    <link href="/static/assets/css/sakuya.css" rel="stylesheet">
{% endblock %}

{% block crumb %}
<ul class="breadcrumb">
<li><a href="/">首页</a> <span class="divider">/</span></li>
<li class="active">新增ip</li>
</ul>
{% endblock %}

{% block content %}
{% if data.auth != 0 %}
    <div>
        <form action="addIp" method="get">
           <input type="text" name="ip" maxlength="20" placeholder="此处输入ip">
           </br>
           <input name="is_white" type="radio" value="1" checked="checked"/>白名单
           <input name="is_white" type="radio" value="0" />黑名单
           </br>
           <input type="text" name="desc" maxlength="20" placeholder="此处输入描述">
           </br>
           </br>
            <button type="submit" class="btn btn-success">确定</button>
        </form>
            <a href ="/ipInfo">返回ip列表页</a>
    </div>
{% else %}
	<font size="3px" color="red">很遗憾，你没有权限 </font>
{% endif %}
{% endblock %}
