/* line 7, ../sass/sakuya.sass */
body { background: #efefef url("/assets/img/pattern.png"); padding-top: 57px; }

/* line 12, ../sass/sakuya.sass */
.span12 { width: 1270px; }

/* line 12, ../sass/sakuya.sass */
.container { width: 1270px; }

/* line 15, ../sass/sakuya.sass */
span.knowing-heading { font-weight: bold; color: white; }

/* line 20, ../sass/sakuya.sass */
#nav-search input { height: 15px; margin: 8px 20px 0 0; font-size: 13px; }

/* line 25, ../sass/sakuya.sass */
#footer { width: 100%; margin: 0 auto; position: fixed; bottom: 0px; height: 40px; border-top: 1px solid #e5e5e5; background: whiteSmoke; }
/* line 34, ../sass/sakuya.sass */
#footer #footer-content { width: 1270px; margin: 0 auto; position: relative; }
/* line 39, ../sass/sakuya.sass */
#footer #footer-content span#copyright { display: block; margin-top: 12px; float: left; }
/* line 44, ../sass/sakuya.sass */
#footer #footer-content #alarm { float: right; }
/* line 47, ../sass/sakuya.sass */
#footer #footer-content #alarm .small { margin-top: 10px; }
/* line 50, ../sass/sakuya.sass */
#footer #footer-content #alarm .big { margin-top: 8px; }
/* line 54, ../sass/sakuya.sass */
#footer #footer-content #alarm span#events-critical-label, #footer #footer-content #alarm span#events-warning-label { padding: 6px 4px 2px; }
/* line 57, ../sass/sakuya.sass */
#footer #footer-content #alarm span#events-ok-label, #footer #footer-content #alarm span#events-checking-label { padding: 2px 4px; }
/* line 60, ../sass/sakuya.sass */
#footer #footer-content #alarm .alert-numbers { font-size: 24px; }

/* line 64, ../sass/sakuya.sass */
.navbar-critical .navbar-inner { border-color: #cc0000; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60026), color-stop(100%, #b30000)); background: -webkit-linear-gradient(top, #e60026, #b30000); background: -moz-linear-gradient(top, #e60026, #b30000); background: -o-linear-gradient(top, #e60026, #b30000); background: linear-gradient(top, #e60026, #b30000); }

/* line 68, ../sass/sakuya.sass */
.navbar-warning .navbar-inner { border-color: #cc7700; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e68600), color-stop(100%, #b36800)); background: -webkit-linear-gradient(top, #e68600, #b36800); background: -moz-linear-gradient(top, #e68600, #b36800); background: -o-linear-gradient(top, #e68600, #b36800); background: linear-gradient(top, #e68600, #b36800); }

/* line 72, ../sass/sakuya.sass */
.navbar-critical .brand, .navbar-warning .brand { color: white; }

/* line 78, ../sass/sakuya.sass */
.navbar-critical .nav li a, .navbar-warning .nav li a { color: white; }

/* line 81, ../sass/sakuya.sass */
#account-info { float: right; }

/* line 84, ../sass/sakuya.sass */
#top-img-container { margin: 0 auto 10px; }
/* line 86, ../sass/sakuya.sass */
#top-img-container #top-img { min-height: 180px; }

/* line 89, ../sass/sakuya.sass */
#top-follow { min-height: 30px; }

/* line 92, ../sass/sakuya.sass */
#last-events { min-height: 30px; }

/* line 95, ../sass/sakuya.sass */
.hidden { display: none; }

/* line 98, ../sass/sakuya.sass */
.right { float: right; }

/* line 101, ../sass/sakuya.sass */
.clear { clear: both; }

/* line 104, ../sass/sakuya.sass */
.awesome-box { padding: 2px 2px 10px 2px; background-color: white; border: 1px solid #e1e1e8; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); }

/* line 111, ../sass/sakuya.sass */
.content-box { margin-bottom: 15px; }
/* line 114, ../sass/sakuya.sass */
.content-box h3.home-title { margin: 4px 0; padding: 0 10px 4px; font-size: 14px; line-height: 25px; border-bottom: 1px solid #e1e1e8; }
/* line 123, ../sass/sakuya.sass */
.content-box ul li.categories { padding: 10px 20px; border-bottom: 1px solid #e1e1e8; }
/* line 127, ../sass/sakuya.sass */
.content-box ul li.categories:last-child { border-bottom: none; }

/* line 133, ../sass/sakuya.sass */
.content-box.error { padding: 10px 20px 10px 20px; }
/* line 135, ../sass/sakuya.sass */
.content-box.error p { font-size: 20px; line-height: 30px; }

/* line 139, ../sass/sakuya.sass */
div#icon_list { margin-bottom: 50px; padding: 10px; }
/* line 143, ../sass/sakuya.sass */
div#icon_list ul { margin: 0; padding: 0; }
/* line 147, ../sass/sakuya.sass */
div#icon_list ul li { margin-right: 15px; float: left; display: block; width: 70px; text-align: center; font-size: 12px; }
/* line 155, ../sass/sakuya.sass */
div#icon_list ul li img { width: 70px; height: 70px; }

/* line 159, ../sass/sakuya.sass */
#monitor-container { padding: 10px 20px 20px 20px; margin-bottom: 50px; }
/* line 163, ../sass/sakuya.sass */
#monitor-container div#acc_categories { width: 200px; float: left; margin-right: 20px; padding: 0; }
/* line 170, ../sass/sakuya.sass */
#monitor-container div#acc_categories ul li { padding: 0; font-size: 14px; line-height: 20px; margin: 5px 0 5px 0; }
/* line 178, ../sass/sakuya.sass */
#monitor-container div.chartlist h3 { font-size: 20px; line-height: 32px; margin: 0 0 5px 0; }
/* line 183, ../sass/sakuya.sass */
#monitor-container div.chartlist hr { margin: 5px 0 5px 0; }
/* line 186, ../sass/sakuya.sass */
#monitor-container ul#monitor_charts { padding: 0; margin: 0; }
/* line 190, ../sass/sakuya.sass */
#monitor-container ul#monitor_charts li { float: left; border: 1px solid silver; margin: 1px; padding-top: 5px; background: url("/assets/img/loading_small.gif") center center no-repeat; }
/* line 197, ../sass/sakuya.sass */
#monitor-container ul#monitor_charts li div.title { text-align: center; font-size: 12px; font-weight: bold; width: 300px; height: 16px; }
/* line 204, ../sass/sakuya.sass */
#monitor-container ul#monitor_charts li img { width: 300px; height: 180px; display: block; }
/* line 209, ../sass/sakuya.sass */
#monitor-container div.main-chart { height: 380px; }
/* line 212, ../sass/sakuya.sass */
#monitor-container table#storm_filters { border-collapse: collapse; border: 0; }
/* line 215, ../sass/sakuya.sass */
#monitor-container table#storm_filters td { border: 0; padding: 0 20px 0 0; }
/* line 218, ../sass/sakuya.sass */
#monitor-container table#storm_filters th { text-align: right; font-weight: normal; border: 0; padding: 0; }
/* line 224, ../sass/sakuya.sass */
#monitor-container table#alert_info { border-collapse: collapse; border: 0; }
/* line 227, ../sass/sakuya.sass */
#monitor-container table#alert_info th { padding: 0; border: 0; text-align: right; font-weight: normal; }
/* line 232, ../sass/sakuya.sass */
#monitor-container table#alert_info td { padding: 0; border: 0; }
/* line 237, ../sass/sakuya.sass */
#monitor-container #tbl_chart_settings th { text-align: right; padding-top: 12px; }
/* line 241, ../sass/sakuya.sass */
#monitor-container #tbl_chart_settings td input { margin: 0; }
/* line 244, ../sass/sakuya.sass */
#monitor-container #chart-option-container { min-height: 500px; }
/* line 248, ../sass/sakuya.sass */
#monitor-container #chart-title label { margin-right: 20px; }
/* line 251, ../sass/sakuya.sass */
#monitor-container #monitor-tab { margin-bottom: 10px; }
/* line 254, ../sass/sakuya.sass */
#monitor-container .nav-pills { margin-bottom: 10px; }
/* line 257, ../sass/sakuya.sass */
#monitor-container a.warning-tips { color: grey; font-size: 14px; margin: 5px 15px 0 0; line-height: 20px; }

/* line 266, ../sass/sakuya.sass */
#chart-container h3, #chart-option-container h3, #chart-info-container h3 { border-bottom: none; }

/* line 269, ../sass/sakuya.sass */
#chart-container { min-height: 180px; }

/* line 272, ../sass/sakuya.sass */
form#chart-date { margin-left: 10px; }
/* line 275, ../sass/sakuya.sass */
form#chart-date #date { width: 80px; }
/* line 278, ../sass/sakuya.sass */
form#chart-date input, form#chart-date button { vertical-align: top; }

/* line 282, ../sass/sakuya.sass */
span.chart-num { margin-left: 10px; font-size: 11px; float: left; }

/* line 282, ../sass/sakuya.sass */
span.chart-followers { margin-left: 10px; font-size: 11px; float: left; }

/* line 287, ../sass/sakuya.sass */
#admin-container { padding: 10px 20px 0 20px; margin-bottom: 50px; }
/* line 291, ../sass/sakuya.sass */
#admin-container #h3_chart_edit_title { margin: 0; padding: 0; line-height: 25px; }

/* line 296, ../sass/sakuya.sass */
#ul_warning_rules { padding: 0; margin: 0; }
/* line 300, ../sass/sakuya.sass */
#ul_warning_rules li.rule { padding-bottom: 10px; }
/* line 304, ../sass/sakuya.sass */
#ul_warning_rules li .oprule { width: 70px; }

/* line 307, ../sass/sakuya.sass */
#ul_storm_filters { padding: 0; margin: 0; }
/* line 311, ../sass/sakuya.sass */
#ul_storm_filters li.filter { padding-bottom: 10px; }
/* line 315, ../sass/sakuya.sass */
#ul_storm_filters li .opfilter { width: 70px; }

/* line 318, ../sass/sakuya.sass */
#custom_container { padding: 10px 20px; }
/* line 321, ../sass/sakuya.sass */
#custom_container label.no-padding { padding: 0; }

/* line 324, ../sass/sakuya.sass */
#info-container { padding: 10px 20px; }

/* line 327, ../sass/sakuya.sass */
.table-content-value { margin-bottom: 0px; line-height: 20px; height: 20px; display: inline-block; vertical-align: middle; padding: 5px; }

/* line 335, ../sass/sakuya.sass */
#haopan-container { padding: 10px 20px 20px 20px; }
/* line 338, ../sass/sakuya.sass */
#haopan-container div#acc_categories { width: 200px; float: left; margin-right: 20px; padding: 0; }
/* line 345, ../sass/sakuya.sass */
#haopan-container div#acc_categories ul li { padding: 0; font-size: 14px; line-height: 20px; margin: 5px 0 5px 0; }
/* line 353, ../sass/sakuya.sass */
#haopan-container div.haopan-panel h3 { font-size: 20px; line-height: 32px; margin: 0 0 5px 0; }
/* line 358, ../sass/sakuya.sass */
#haopan-container div.haopan-panel th { text-align: right; vertical-align: top; line-height: 25px; }
/* line 363, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul.nav-pills.custom { margin: 0; }
/* line 364, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul.nav-pills.custom li { height: 25px; }
/* line 367, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul.nav-pills.custom a { margin: 3px 3px 0 3px; padding: 3px 5px 3px 5px; }
/* line 377, ../sass/sakuya.sass */
#haopan-container div.haopan-panel hr { margin: 10px 0 10px 0; }
/* line 380, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul#haopan_charts { padding: 0; margin: 0; }
/* line 384, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul#haopan_charts li { float: left; border: 1px solid silver; margin: 1px; padding-top: 5px; background: url("/assets/img/loading_small.gif") center center no-repeat; }
/* line 391, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul#haopan_charts li div.title { text-align: center; font-size: 12px; font-weight: bold; }
/* line 396, ../sass/sakuya.sass */
#haopan-container div.haopan-panel ul#haopan_charts li img { width: 300px; height: 180px; display: block; }
/* line 401, ../sass/sakuya.sass */
#haopan-container div.haopan-panel .well { padding: 5px; }
/* line 404, ../sass/sakuya.sass */
#haopan-container #monitor-tab { margin-bottom: 10px; }
/* line 407, ../sass/sakuya.sass */
#haopan-container .nav-pills { margin-bottom: 10px; }

/* line 410, ../sass/sakuya.sass */
a.knowing { color: #333333; }

/* line 413, ../sass/sakuya.sass */
#ui-datepicker-div { font-size: 12px; line-height: 12px; }

/* line 421, ../sass/sakuya.sass */
.index-container #latest-warnings ul { padding: 0; margin: 0; }
/* line 424, ../sass/sakuya.sass */
.index-container #latest-warnings ul li { padding: 0 10px 0 10px; line-height: 25px; }
/* line 427, ../sass/sakuya.sass */
.index-container #latest-warnings ul li:hover { background-color: #efefef; }
/* line 430, ../sass/sakuya.sass */
.index-container #latest-warnings a.title { display: block; width: 300px; line-height: 25px; height: 25px; overflow: hidden; }
/* line 437, ../sass/sakuya.sass */
.index-container #latest-warnings span.leading { display: block; width: 10px; height: 10px; margin: 8px 10px 0 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
/* line 446, ../sass/sakuya.sass */
.index-container #latest-warnings span.time { line-height: 25px; }
/* line 449, ../sass/sakuya.sass */
.index-container div.more { line-height: 30px; margin-right: 10px; }
/* line 453, ../sass/sakuya.sass */
.index-container .monitor-list { padding: 0; margin: 0; }
/* line 457, ../sass/sakuya.sass */
.index-container .monitor-list li { line-height: 25px; padding: 0 10px 0 10px; }
/* line 461, ../sass/sakuya.sass */
.index-container .monitor-list li i { margin: 6px 7px 0 0; }
/* line 464, ../sass/sakuya.sass */
.index-container .monitor-list li a { display: block; height: 25px; width: 290px; overflow: hidden; }
/* line 470, ../sass/sakuya.sass */
.index-container .monitor-list li span { margin-top: 4px; }
/* line 473, ../sass/sakuya.sass */
.index-container .monitor-list li:hover { background-color: #efefef; }
/* line 476, ../sass/sakuya.sass */
.index-container .front-stats { padding: 0 0 0 10px; font-size: 16px; font-weight: bold; margin-bottom: 20px; text-shadow: 2px 2px 0 white; }
/* line 483, ../sass/sakuya.sass */
.index-container .front-stats span { font-size: 30px; font-weight: bold; color: #0088cc; line-height: 30px; }
/* line 489, ../sass/sakuya.sass */
.index-container #personal-stuff { height: 300px; }
/* line 492, ../sass/sakuya.sass */
.index-container #personal-stuff ul.nav-tabs { margin: 3px 0 6px 0; padding-left: 3px; }
/* line 495, ../sass/sakuya.sass */
.index-container #personal-stuff ul.nav-tabs a { padding: 4px 10px 4px 10px; }
/* line 498, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list { padding: 0; margin: 0; }
/* line 502, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list li { line-height: 30px; padding: 0 10px 0 10px; border-bottom: 1px solid #efefef; }
/* line 507, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list li i { margin: 8px 8px 0 0; }
/* line 510, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list li a { display: block; height: 30px; width: 350px; overflow: hidden; }
/* line 516, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list li span { margin-top: 4px; }
/* line 519, ../sass/sakuya.sass */
.index-container #personal-stuff ul.chart-list li:hover { background-color: #efefef; }
/* line 522, ../sass/sakuya.sass */
.index-container #personal-stuff div.tip { padding: 15px; }

/* line 525, ../sass/sakuya.sass */
#monitoring-container { position: absolute; right: 0; }
/* line 529, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts { padding: 0; margin: 0; }
/* line 533, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts li { float: left; border: 1px solid silver; margin: 1px; padding-top: 5px; background: url("/assets/img/loading_small.gif") center center no-repeat; }
/* line 540, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts li div.title { text-align: center; font-size: 12px; font-weight: bold; width: 300px; height: 16px; }
/* line 548, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts li img { width: 300px; height: 180px; display: block; }
/* line 553, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts li.critical { border: 1px solid red; }
/* line 555, ../sass/sakuya.sass */
#monitoring-container ul#ul_charts li.critical div.title { color: red; }

/* line 558, ../sass/sakuya.sass */
#search-container { padding: 10px 20px 20px 20px; margin-bottom: 50px; }
/* line 562, ../sass/sakuya.sass */
#search-container hr { margin: 5px 0 5px 0; }
/* line 565, ../sass/sakuya.sass */
#search-container .form-not-searching { text-align: center; height: 130px; padding-top: 100px; background-image: url("/assets/img/search.png"); background-repeat: no-repeat; background-position: 270px center; }
/* line 573, ../sass/sakuya.sass */
#search-container .form-searching { margin-bottom: 5px; }
/* line 576, ../sass/sakuya.sass */
#search-container ul#chart_list { padding: 0; margin: 0; }
/* line 580, ../sass/sakuya.sass */
#search-container ul#chart_list li { float: left; border: 1px solid silver; margin: 1px; padding-top: 5px; background: url("/assets/img/loading_small.gif") center center no-repeat; }
/* line 587, ../sass/sakuya.sass */
#search-container ul#chart_list li div.title { text-align: center; font-size: 12px; font-weight: bold; width: 300px; height: 16px; }
/* line 594, ../sass/sakuya.sass */
#search-container ul#chart_list li img { width: 300px; height: 180px; display: block; }

/* line 599, ../sass/sakuya.sass */
.table-alert-rules { width: auto; margin: 0; }
/* line 602, ../sass/sakuya.sass */
.table-alert-rules td { border: 0; line-height: 20px; padding: 0; }
/* line 606, ../sass/sakuya.sass */
.table-alert-rules td.align-right { text-align: right; }
/* line 608, ../sass/sakuya.sass */
.table-alert-rules td.valign-center { vertical-align: middle; }
/* line 610, ../sass/sakuya.sass */
.table-alert-rules input, .table-alert-rules label { margin: 0; }

/* line 613, ../sass/sakuya.sass */
#homepage-slide { height: 295px; margin-bottom: 0; background-image: url("/assets/img/front-bg.jpg"); background-repeat: no-repeat; }
/* line 619, ../sass/sakuya.sass */
#homepage-slide div.item { height: 250px; }
/* line 622, ../sass/sakuya.sass */
#homepage-slide div.item h2 { font-size: 30px; margin: 60px 0 20px 100px; text-shadow: 3px 3px 2px grey; }
/* line 627, ../sass/sakuya.sass */
#homepage-slide div.item p { margin-left: 100px; font-size: 18px; line-height: 30px; }

/* line 632, ../sass/sakuya.sass */
#header_warn { width: 15px; height: 28px; margin: 12px 15px 0 0; background-image: url("/assets/img/warn-dot.png"); background-repeat: no-repeat; cursor: pointer; }

/* line 640, ../sass/sakuya.sass */
#header_warn.ok { background-position: -2px -2px; }

/* line 643, ../sass/sakuya.sass */
#header_warn.error { background-position: -22px -2px; }

/* line 646, ../sass/sakuya.sass */
#header_warn_content { position: absolute; border: 1px solid gray; background-color: white; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/* line 655, ../sass/sakuya.sass */
ul.suite-category { width: 200px; padding-top: 5px; padding-bottom: 5px; float: left; }
/* line 661, ../sass/sakuya.sass */
ul.suite-category i { width: 16px; }

/* line 664, ../sass/sakuya.sass */
div.suite-charts { float: left; margin-left: 30px; }
/* line 668, ../sass/sakuya.sass */
div.suite-charts div.suite-chart-item { width: 920px; margin-bottom: 30px; }
/* line 672, ../sass/sakuya.sass */
div.suite-charts div.suite-chart-item div.button-group { float: right; line-height: 30px; }
/* line 675, ../sass/sakuya.sass */
div.suite-charts div.suite-chart-item div.button-group .btn { width: 60px; }

/* line 682, ../sass/sakuya.sass */
#header .navbar { margin-bottom: 0; }
